@import url('https://fonts.googleapis.com/css2?family=Ruluko&family=Vollkorn&display=swap');


*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Ruluko, Aria, sans-serif;
    background-color: #FFFFFF;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/***************************************************************************
*
*               Header Content
*
***************************************************************************/
header {
    background-color: #f8f4ef;
    display: grid;
    grid-template-columns: 300px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: #3B1721;
    font-family: Vollkorn, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 55px;
}

.nav-item:hover {
    background-color: #3B1721;
    color: #f8f4ef;
}


/*************************************************************
*
*               Footer Begin
*
*************************************************************/

footer {
    background-color: #3B1721;
    color: #f8f4ef;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}

.footer-link {
    text-decoration: none;
    color: #f8f4ef;
}

.footer-link:hover {
    background-color: #f8f4ef;
    color: #3B1721;
    text-decoration: underline;
}


.social-img {
    padding-top: 15px;
}

/*************************************************************
*               Home Page Begin
*
*************************************************************/

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 200px;
}

#hero-msg h1,
#hero-msg h4 {
    font-family: Vollkorn, Arial, sans-serif;
    font-size: 45px;
    text-align: right;
}



.gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;
}

.gallery-title {
    grid-column: 4/8;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
}

figure {
    grid-row: 2/3;
}

#fanart-index {
    grid-column: 2/4;
    width: 100%;
    justify-self: center;
}

#cherry-index {
    grid-column: 5/7;
    width: 100%;
    justify-self: center;
}

#face-index {
    grid-column: 8/10;
    width: 100%;
    justify-self: center;
}


.aboutme {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;
    background: #f8f4ef;
}

.about-title {
    grid-column: 4/8;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
}

.about-me-synopsis {
    grid-column: 2/5;
}

.synopsis {
    text-align: left;
    font-family: Vollkorn, Arial, sans-serif;
    grid-column: 6/10;
}

.commission {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: #260403;
    color: #FFFFFF;
}

.msg {
    grid-row: 1;
    grid-column: 2/10;
    text-align: center;
}

.msg-p {
    grid-row: 3;
    text-align: center;
    font-family: Vollkorn, Arial, sans-serif;
    grid-column: 4/8;
    margin-bottom: 50px;
}

.button-box-gallery-button {
    grid-row: 3;
    grid-column: 5/7;
    justify-self: center;
    border-radius: 4px;
    background-color: #3B1721;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 50px;
}

.button-box-about-aboutme {
    grid-row: 3;
    grid-column: 4/8;
    border-radius: 4px;
    background-color: #3B1721;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-self: center;
}

.button {
    border-radius: 4px;
    background-color: #3B1721;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*************************************************************
*               Gallery Page Begin
*
*************************************************************/

.originals {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;
    background: #FFFFFF;
}

#og-art {
    grid-column: 2/10;
    text-align: center;
    color: #735448;
    margin-bottom: 100px;
    width: 100%;
}

#cherry-gallery {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 100%;
    justify-self: center;
}

#face-gallery {
    grid-column: 5/7;
    grid-row: 2/3;
    width: 100%;
    justify-self: center;
}

#color-splash {
    grid-column: 8/10;
    grid-row: 2/3;
    width: 100%;
    justify-self: center;
}

#eye {
    grid-column: 2/4;
    grid-row: 3/4;
    width: 100%;
    justify-self: center;
}

#hands {
    grid-column: 5/7;
    grid-row: 3/4;
    width: 100%;
    justify-self: center;
}

#kangaroo {
    grid-column: 8/10;
    grid-row: 3/4;
    width: 100%;
    justify-self: center;
}

#bunny-cat {
    grid-column: 2/4;
    grid-row: 4/5;
    width: 100%;
    justify-self: center;
}

#elf {
    grid-column: 5/7;
    grid-row: 4/5;
    width: 100%;
    justify-self: center;
}

#koi-fish {
    grid-column: 8/10;
    grid-row: 4/5;
    width: 100%;
    justify-self: center;
}

#fairy {
    grid-column: 5/7;
    grid-row: 5/6;
    width: 100%;
    justify-self: center;
}

.dtiys-fanart {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: #FFFFFF;
    margin-bottom: 100px;
}

#df-art {
    grid-column: 2/10;
    text-align: center;
    color: #735448;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}


#fanart-gallery {
    grid-column: 5/7;
    width: 100%;
    justify-self: center;
}

/*************************************************************
*               About Me Page Begin
*
*************************************************************/

.about-me-page {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;
    background: #FFFFFF;
}

#ab-title {
    grid-column: 2/10;
    text-align: center;
    color: #735448;
    margin-bottom: 100px;
    width: 100%;
}

.ab-pic1 {
    grid-column: 5/7;
    margin-bottom: 100px;
    width: 100%;
    justify-self: center;
}

#ab-text {
    grid-column: 3/9;
    text-align: left;
    color: #735448;
    font-family: Vollkorn, Arial, sans-serif;
    margin-bottom: 100px;
    width: 100%;
}

.ab-pic2 {
    grid-column: 3/9;
    margin-bottom: 100px;
    width: 100%;
    justify-self: center;
}

/*************************************************************
*               Modal Begin
*
*************************************************************/

.modal-window {
    position: fixed;
    background-color: rgba(55, 49, 49, 0.914);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}


.modal-close {
    color: var(--primary-color);
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-window>div,
.modal-content {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr .25fr 50px 1fr;
    /* Create a single column */
    grid-template-rows: auto auto auto;
    /* Create three rows */
    background: white;
}

.modal-content img {
    width: 100%;
    grid-column: 1/3;
    /* Image spans the first column */
    grid-row: 1;
    /* Image is in the first row */
}

.modal-content h4 {
    grid-column: 4/5;
    grid-row: 1/2;
    height: 20px
}

.modal-para {
    margin-top: 80px;
    grid-column: 4/5;
    grid-row: 1/2;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 900px) {

    #hero,
    #rivers_hero {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    footer {
        margin-top: 25px;
    }
}