@import url('https://fonts.googleapis.com/css2?family=Ruluko&family=Vollkorn&display=swap');


*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Ruluko, Aria, sans-serif;
    background-color: #FFFFFF;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

figcaption {
    text-align: center;
}

/***************************************************************************
*
*               Header Content
*
***************************************************************************/
header {
    background-color: #f8f4ef;
    display: grid;
    grid-template-columns: 300px auto;
    align-items: center;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-item {
    color: #3B1721;
    font-family: Vollkorn, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 55px;
}

.nav-item:hover {
    background-color: #3B1721;
    color: #f8f4ef;
}


/*************************************************************
*
*               Footer Begin
*
*************************************************************/

footer {
    background-color: #3B1721;
    color: #f8f4ef;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}

.footer-link {
    text-decoration: none;
    color: #f8f4ef;
}

.footer-link:hover {
    background-color: #f8f4ef;
    color: #3B1721;
    text-decoration: underline;
}


.social-img {
    padding-top: 15px;
}

#ref {
    font-size: small;
}

/*************************************************************
*               Home Page Begin
*
*************************************************************/

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero::after {
    content: "";
    position: absolute;
    bottom: -325px;
    left: 0;
    width: 100%;
    height: 300px;
    /* Adjust height to control the gradient's reach */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none;
    /* Ensures the gradient doesn't interfere with other elements */
}

#hero-msg {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 200px;
}

#hero-msg h1,
#hero-msg h4 {
    font-family: Vollkorn, Arial, sans-serif;
    font-size: 45px;
    text-align: right;
}



.gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;
}

.gallery-title {
    grid-column: 4/8;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
}

figure {
    grid-row: 2/3;
}

#fanart-index,
#cherry-index,
#face-index {
    width: 100%;
    justify-self: center;
    border: 1px solid #3B1721;
    /* Solid border style */
    border-radius: 10px;
    /* Optional: rounded corners */
    padding: 5px;
    /* Optional: space between the border and image */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Shadow effect */
}

#fanart-index {
    grid-column: 2/4;
    width: 100%;
}

#cherry-index {
    grid-column: 5/7;
    width: 100%;
}

#face-index {
    grid-column: 8/10;
    width: 100%;
}


.aboutme {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;
    padding-bottom: 100px;
    background: #f8f4ef;
}

.about-title {
    grid-column: 4/8;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
}

.about-me-synopsis {
    grid-column: 2/5;
}

.synopsis {
    text-align: left;
    font-family: Vollkorn, Arial, sans-serif;
    grid-column: 6/10;
}

.commission {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: #260403;
    color: #FFFFFF;
}

.msg {
    grid-row: 1;
    grid-column: 2/10;
    text-align: center;
}

.msg-p {
    grid-row: 3;
    text-align: center;
    font-family: Vollkorn, Arial, sans-serif;
    grid-column: 4/8;
    margin-bottom: 50px;
}

.button-box-gallery-button,
.button-box-about-aboutme,
.button {
    border-radius: 4px;
    background-color: #3B1721;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button-box-gallery-button,
.button-box-about-aboutme {
    grid-row: 3;
    justify-self: center;
    margin-top: 100px;
}


.button-box-gallery-button {
    grid-column: 5/7;
}

.button-box-about-aboutme {
    grid-column: 4/8;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*************************************************************
*               Gallery Page Begin
*
*************************************************************/

.originals {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;
    background: #FFFFFF;
}

#og-art {
    grid-column: 2/10;
    text-align: center;
    color: #3B1721;
    margin-bottom: 100px;
    width: 100%;
}

#cherry-gallery,
#face-gallery,
#color-splash,
#eye,
#hands,
#kangaroo,
#bunny-cat,
#elf,
#koi-fish,
#fairy {
    width: 100%;
    justify-self: center;
    border: 1px solid #3B1721;
    /* Solid border style */
    border-radius: 10px;
    /* Optional: rounded corners */
    padding: 5px;
    /* Optional: space between the border and image */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Shadow effect */
}

#cherry-gallery {
    grid-column: 2/4;
    grid-row: 2/3;
}

#face-gallery {
    grid-column: 5/7;
    grid-row: 2/3;
}

#color-splash {
    grid-column: 8/10;
    grid-row: 2/3;
}

#eye {
    grid-column: 2/4;
    grid-row: 3/4;
}

#hands {
    grid-column: 5/7;
    grid-row: 3/4;
}

#kangaroo {
    grid-column: 8/10;
    grid-row: 3/4;
}

#bunny-cat {
    grid-column: 2/4;
    grid-row: 4/5;
}

#elf {
    grid-column: 5/7;
    grid-row: 4/5;
}

#koi-fish {
    grid-column: 8/10;
    grid-row: 4/5;
}

#fairy {
    grid-column: 5/7;
    grid-row: 5/6;
}

.dtiys-fanart {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: #FFFFFF;
    margin-bottom: 100px;
}

#df-art {
    grid-column: 2/10;
    text-align: center;
    color: #3B1721;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}


#fanart-gallery {
    grid-column: 5/7;
    width: 100%;
    justify-self: center;
    border: 1px solid #3B1721;
    /* Solid border style */
    border-radius: 10px;
    /* Optional: rounded corners */
    padding: 5px;
    /* Optional: space between the border and image */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Shadow effect */
}

/*************************************************************
*               About Me Page Begin
*
*************************************************************/

.about-me-page {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;
    background: #FFFFFF;
}

#ab-title {
    grid-column: 2/10;
    text-align: center;
    color: #3B1721;
    margin-bottom: 100px;
    width: 100%;
}

.ab-pic1,
.ab-pic2 {
    margin-bottom: 100px;
    width: 100%;
    justify-self: center;
}

.ab-pic1 {
    grid-column: 5/7;
    width: 100%;
    justify-self: center;
    border: 1px solid #3B1721;
    /* Solid border style */
    border-radius: 10px;
    /* Optional: rounded corners */
    padding: 5px;
    /* Optional: space between the border and image */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Shadow effect */
}

.ab-pic2 {
    grid-column: 3/9;
}


#ab-text {
    grid-column: 3/9;
    text-align: left;
    color: #3B1721;
    font-family: Vollkorn, Arial, sans-serif;
    margin-bottom: 100px;
    width: 100%;
}


/*************************************************************
*               Modal Begin
*
*************************************************************/

.modal-window {
    position: fixed;
    background-color: rgba(55, 49, 49, 0.914);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}


.modal-close {
    color: var(--primary-color);
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-window>div,
.modal-content {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr .25fr 50px 1fr;
    /* Create a single column */
    grid-template-rows: auto auto auto;
    /* Create three rows */
    background: white;
}

.modal-content img {
    width: 100%;
    grid-column: 1/3;
    /* Image spans the first column */
    grid-row: 1;
    /* Image is in the first row */
}

.modal-content h4 {
    grid-column: 4/5;
    grid-row: 1/2;
    height: 20px
}

.modal-para {
    margin-top: 80px;
    grid-column: 4/5;
    grid-row: 1/2;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

/*************************************************************
*               Media Queries
*
*************************************************************/

@media screen and (max-width: 900px) {

    header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .nav-item {
        padding: 15px;
        font-size: 20px;
    }

    nav,
    footer {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    footer {
        margin-top: 0px;
        font-size: medium;
    }

    /*** Home Page ***/


    #hero,
    #rivers_hero {
        display: block;
        height: auto;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #hero-msg h1,
    #hero-msg h4 {
        text-align: center;
        color: #f8f4ef;
        background: #260403;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: medium;

    }

    #hero-msg h4 {
        margin-top: -9%;

    }

    #hero::after,
    #hero-img {
        display: none;
    }


    .gallery-title,
    .about-title,
    .about-me-synopsis,
    .synopsis,
    .msg,
    .msg-p,
    .button-box-gallery-button,
    .button-box-about-aboutme {
        grid-column: 1 /-1;
        margin: 0px;
    }

    .originals figcaption,
    .dtiys-fanart figcaption {
        font-size: small;
        text-align: center;
    }

    #fanart-index,
    #cherry-index,
    #face-index {
        grid-column: 1/-1;
        margin: 50px;
        width: 90%;
        /*border: none;
        box-shadow: none;*/
    }

    #fanart-index {
        grid-row: 2;
    }

    #cherry-index {
        grid-row: 3;
    }

    #face-index {
        grid-row: 4;
    }

    .button-box-gallery-button {
        grid-row: 5;
    }

    .aboutme {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* Ensure elements are spaced out */
        height: auto;
        padding-bottom: 50px;
    }

    .about-title,
    .about-me-synopsis,
    .synopsis {
        margin: 10px 0;
        padding-top: 40px;
        /* Add margin for spacing */
    }

    .about-me-synopsis {
        width: 80%;
        padding-left: 90px;
    }

    .synopsis {
        padding-left: 20px;
        padding-bottom: 50px;
    }


    .button-box-about-aboutme {
        align-self: center;
        /* Center the button horizontally */
        margin-top: auto;
        /* Push the button to the bottom */
        margin-bottom: 20px;
        /* Add some margin at the bottom */
    }

    .commission {
        margin-top: 25px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: medium;
    }

    .commission h2 {
        padding-bottom: 20px;
    }

    /*** Gallery Page ***/

    #cherry-gallery,
    #face-gallery,
    #color-splash,
    #eye,
    #hands,
    #kangaroo,
    #bunny-cat,
    #elf,
    #koi-fish,
    #fairy,
    #fanart-gallery {
        grid-column: 1 / -1;
        width: 90%;
        /* Increase width for better visibility on small screens */
        margin: 20px auto;
        /* Adjust margin for better spacing */
    }

    #cherry-gallery,
    #face-gallery,
    #color-splash,
    #eye,
    #hands,
    #kangaroo,
    #bunny-cat,
    #elf,
    #koi-fish,
    #fairy,
    #fanart-gallery {
        grid-row: auto;
        /* Allow natural flow in a single column */
    }

    /*** About Me Page ***/

    .ab-pic1,
    .ab-pic2 {
        grid-column: 1 / -1;
        width: 90%;
    }

    .about-me-page #ab-text {
        grid-column: 2 / 10;
        /* Span more columns to take up more space */
    }
}